body {
  background-color: #f5f5f5;
  opacity: 100%;
}

.square1 {
width: 11%;
padding-left: 2px;
padding-top: 70px;
z-index: -50;
}

.arrow-left1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 40px solid black;
  margin-left: 1.5%;
  margin-top: 2%;
  display: inline;
  float: left;
  z-index: 60;
}

.arrow-right1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 40px solid black;
  margin-left: 5%;
  margin-top: 2%;
  display: inline;
  float: left;
}

.triangle-right1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-left: 40px solid black;
  margin-left: 5%;
  margin-top: 4%;
  
  float: left;
}
