body {
  background-image: url("https://www.marinabaysands.com/content/dam/singapore/marinabaysands/master/main/home/sg-visitors-guide/cirrocumulus-clouds_1000x557.jpg");
  opacity: 10%;
}

h1 {
  font-family:"Walter Turncoat", cursive;
  font-size: 65px;
  color: #324851;
}

p {
  font-family:"Chelsea Market", cursive;
  font-size: 40px;
  color:#2D4262;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-size: 40px;
  color: #324851;
}


#weekly-exercises a {
font-family: "Chelsea Market", cursive;
font-size: 20px;
color: #2D4262;
text-decoration: none;
}

#weekly-exercises a:hover {
  color:#D09683;
}
