

 body {
background-image:url("pictures/clouds1.jpg");
background-size: cover;
overflow: hidden;
position: cover;
width: 100%;
opacity: 25%;
animation: clouds 105s linear infinite;
z-index: -5;
}

@keyframes clouds {
	0%{background-position:0 0;}
	100% {background-position: -2122px 0;}
}

.text {
  padding-left: 200px;
  padding-right: 600px;
}

h1 {
  font-family:"Walter Turncoat", cursive;
  font-size: 65px;
  color: black;
}

p {
  font-family:"Chelsea Market", cursive;
  font-size: 28px;
  color: black;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-size: 40px;
  color: black;
}
#exercises a {
font-family: "Chelsea Market", cursive;
font-size: 20px;
color: black;
text-decoration: none;
}

#exercises a:hover {
  color:#D09683;
}


#weekly-exercises a {
font-family: "Chelsea Market", cursive;
font-size: 20px;
color: black;
text-decoration: none;
}

#weekly-exercises a:hover {
  color:#D09683;
}

#projects a {
font-family: "Chelsea Market", cursive;
font-size: 20px;
color: black;
text-decoration: none;
}

#projects a:hover {
  color:#D09683;
}
