

body {
  background-image: url("https://data.whicdn.com/images/135743230/large.jpg");
  opacity: 50%;
}

body {

}

.text-block {
  width: 900px;
  margin: 20px auto;
}
#container {
  max-width: 800px;
  margin: 20px auto;
}
.imagery-block {
  max-width: 700px;
  margin: 20px auto;
}

img.filter {
  filter:sepia(75%);
  filter:saturate(35);
}

p {
  font-family:"Chilanka", cursive;
  font-size: 20px;
  color: black;
  text-align: center;
}

h1 {
  font-family:"Spicy Rice", cursive;
  font-size: 80px;
  color: black;
  text-align: center;
}

h2 {
  font-family:"Spicy Rice", cursive;
  font-size: 40px;
  color: black;
  text-align: center;
}

h3 {
  font-family: "Chilanka", cursive;
  font-size: 25px;
  color: black;
  text-align: center;
  margin: 20px auto;
}
