

.header {
  background: #ffffff;
  height: 60px;
  width: 100%;
  position: fixed;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

img {
  width: 50%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  background:blue;
  height: 60px;
  position: sticky;
  top: 0;
  color: black;
}
#nav div {
  display: inline-block;
  padding-right: 20px;

}

.collage {
  display: flex;
  align-items: center;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.collage img {
  width: 35.3%;
  margin: 5px;
}

}

body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro',sans-serif;
    color: #3B444B;
    background-color: #FFFFFF;
    margin-left: 200px;
}

h1 {
  font-family: 'Crimson text',serif;
  font-size: 40px;
  text-align: center;
}

h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

h2 {
    padding-left: 150px;
    text-transform: none;
    text-align: justify;
    font-family: 'Crimson Text',serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 19px;
}
#try {
  padding-left: 10px;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 20px;

}

p {
    font-size: 20px;
    font-family: "Source Sans Pro",sans-serif;
    font-style: normal;
    line-height: 30.5px;
    text-transform: lowercase;
}

.columns {
  column-count: 3;
  column-gap: 50px;
}




/* ABOUT - MEDIA */

#lol {
    max-width: 480px;
    text-align: left;
    margin-bottom: 10px;
}
