

body {
  background-image: url("https://data.whicdn.com/images/135743230/large.jpg");
  opacity: 50%;
}

.text-block {
  width: 900px;
  margin: 20px auto;
}
#container {
  max-width: 800px;
  margin: 20px auto;
}
img {
  max-width: 700px;
}

p {
  font-family:"Annie Use Your Telescope", cursive;
  font-size: 20px;
  color: black;
  text-align: center;
}

h1 {
  font-family:"Spicy Rice", cursive;
  font-size: 80px;
  color: black;
}

h2 {
  font-family:"Spicy Rice", cursive;
  font-size: 40px;
  color: black;
}

h3 {
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 35px;
  color: black;
  text-align: center;
}
