

body {
  background-image: url("https://data.whicdn.com/images/135743230/large.jpg");
  opacity: 50%;
}

body {
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  line-height: 25px;
  padding-left: 300px;
  padding-right: 200px;
  text-rendering: optimizeLegibility;
  text-align: center;
  font-family: 'Spicy Rice', cursive;
}

#container {
  max-width: 800px
}
img {
  max-width: 900px
}

p {
  border-style: dotted;
  border-spacing: 50px;
  font-family:"Century Gothic", sans-serif;
  font-size: 20px;
  color: black;
}

h1 {
  font-family: "Spicy Rice", cursive;
  font-size: 50px
  color: black;
}

h2 {
  font-family:"Century Gothic", sans-serif;
  font-size: 15px;
  color: black;
}
