
body {
  background: #fdfdf9;
  font: 1.3rem/1 "Avenir LT W02 45 Book",sans-serif;
  color: #5c5c5f;
}



.container {
  position: relative;
  width: 50%;
}

.rig-img {
  display: block;
  width: 25%;
  height: auto;
}

.rig-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.rig-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px
  color: black;
}
