body {
  background-color: #f4f4f4;
  align-items: center;
}

.nav {
  background-color: black;
  position: fixed;
  display: block;
  top: 0px;
  height: 45px;
  width: 100%;
}
.nav a:hover {
  color: purple;
}
#navstyle {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: none;
  top: 5px;
}

a {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding-left:0px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 20px;
  text-decoration: none;
}

.logo {
  position: fixed;
  top: 80px;
  left: 25px;
  width: 12%;
}

.icon {
  width: 10%;
  display: block;
}

.sidemenu {
  width: auto;
  padding-left: 5px;
  padding-top: 120px;
  margin-right: 0px;
  position: fixed;
  display: block;
  color: gray;
  font-family: sans-serif;
  font-size: 30px;
  text-decoration: none;
}

ul {
  display: block;
  position:sticky;
}

.sidelist1:hover {
  color: orange;
  animation: pulse .5s alternate infinite;
}

.sidelist2:hover  {
  color: blue;
  animation: pulse .5s alternate infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);}
  100% {
    transform: scale(1.01);
  }
}



.rectangle1 {
  width: 550px;
  height: 800px;
  background-color: blue;
  position: absolute;
  align-items: center;
  display: block;
  margin-left: 500px;
  margin-top: 80px;
  margin-bottom: 100px;
  z-index: -5;
}

.post {
  display: block;
  align-items: center;
  margin-left: 75px;
  top: 40px;
  margin-right: auto;
  width: 70%;
  position: absolute;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 100%;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #9cbad9;
  border: 1px solid #666;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: relative;
  font-size: 40px;
  font-family: sans-serif;
}

.popupimage {
  width: 400px;
  position: absolute;
  align-items: center center;
}
.move {
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 650px;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 650px;
  right: 20px;
  opacity: 1.0;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}



.rectangle2 {
  width: 550px;
  height: 800px;
  background-color: green;
  position: absolute;
  align-items: center;
  display: block;
  margin-left: 500px;
  margin-top: 900px;
  z-index: -5;
}



.rectangle3 {
  width: 550px;
  height: 800px;
  background-color: blue;
  position: absolute;
  align-items: center;
  display: block;
  margin-left: 500px;
  margin-top: 1800px;
  z-index: -5;
}
