
/* reset styles */
* {
        margin: 0px; padding: 0px;}

/* make the background of the page black */
body {
        background: #b693d2;
}

p {
  font-family:"Quicksand", sans-serif;
  font-size: 25px;
  color: #092464
}
/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        position: fixed;
        position: center;
        background: #092464;
        overflow: hidden;
}

/* shapes */
img {
  position: absolute;
  width: 1000px;
  height: 300px;
  top: 385px;
  left: 0px;
  z-index: 1;
}

#mountains {
  position: absolute;
  background-image: url("pictures/Mountains.svg");
  width: 1000px;
  height: 400px;
  top: 600px;
  left: 10px;
  z-index: 1;
}


#circle {
  width: 170px;
  height:170px;
  border-radius: 150px;
  background: #f9d849;
  position: absolute;
  top: 450px;
  left:270px;
  z-index: 3;
}

.animation-translate {
  -webkit-animation-name: translate; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: linear;
  animation-name: translate;
  animation-duration: 8.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*@-webkit-keyframes translate {
  0% { transform: translate(0px, 0px); }

  100% { transform: translate(0px, 180px); }
}

/* Standard syntax */
@keyframes translate {
  0% { transform: translate(0px, 0px); }
  100% { transform: translate(0px, -260px); }
}

#pacman {

  height: 0px;
  width: 0px;
  border-radius: 150px;
  border-top: 150px solid #b02532;
  border-left: 150px solid #b02532;
  border-right: 150px solid transparent;
  border-bottom: 150px solid #b02532;
  position: absolute;
  top: 115px;
  left:210px;
    }

#rectangle {
  width: 1000px;
  height: 150px;
  background: white;
  position: absolute;
  top: 200px;
  left: 0px;
}
