
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: #b693d2;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        position: center center;
        background: #152033;
}

/* shapes */
#moon {
   width: 160px;
   height: 160px;
   border-radius: 50%;
   box-shadow: 30px 30px 0 0 #ede893;
   position: absolute;
   top:30px;
   left: 640px;
 }


#earth {
  position: absolute;
  background size: cover;
  background-image: url("https://image.flaticon.com/icons/svg/814/814513.svg");
  width: 380px;
  height: 380px;
  top: 150px;
  left: 100px;
}

.star{
  -webkit-animation-name: blink; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-name: blink;
  animation-duration: .7s;
  animation-iteration-count: infinite;
   animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
  from { background-color: #152033; }
  to { background-color: #ede893; }
}

/* Standard syntax */
@keyframes blink {
  from { background-color: #152033; }
  to { background-color: #ede893; }
}
}



p0 {
  font-size: 80px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 60px;
  left: 700px;
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

 p1 {
  font-size: 80px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 25px;
  left: 75px;
  animation-name: blink;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    color: #152033;
  }
  100% {
    color: #ede893;
  }
}

p2 {
  font-size: 80px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 440px;
  left: 820px;
  animation-name: blink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

  p3 {
  font-size: 80px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 220px;
  left: 540px;
  animation-name: blink;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p4 {
  font-size: 40px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 400px;
  left: 20px;
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p5 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 170px;
  left: 50px;
  animation-name: blink;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

P6 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 80px;
  left: 420px;
  animation-name: blink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p7 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 530px;
  left: 150px;
  animation-name: blink;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p8 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 310px;
  left: 868px;
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p9 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 16px;
  left: 534px;
  animation-name: blink;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p10 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 80px;
  left: 920px;
  animation-name: blink;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p11 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 490px;
  left: 640px;
  animation-name: blink;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p12 {
  font-size: 40px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 360px;
  left: 740px;
  animation-name: blink;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p13 {
  font-size: 40px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 440px;
  left: 510px;
  animation-name: blink;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

p14 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 20px;
  left: 280px;
  animation-name: blink;
  animation-duration: .4s;
  animation-iteration-count:infinite;
  animation-direction: alternate;

}
