
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: #b693d2;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        position: relative;
        background: #152033;
}

/* shapes */
#moon {
   width: 160px;
   height: 160px;
   border-radius: 50%;
   box-shadow: 30px 30px 0 0 #ede893;
   position: absolute;
   top:180px;
   left: 640px;
 }


#earth {
  background-position: absolute;
  background size: cover;
  background-image: url("https://image.flaticon.com/icons/svg/814/814513.svg");
  width: 380px;
  height: 380px;
  top: 360px;
  left: 160px;
}


p {
  font-size: 80px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 60px;
  left: 700px;
}

p1 {
  font-size: 80px;
  color: #ede893;
  position: absolute;
  top: 340px;
  left: 460px;
}

p2 {
  font-size: 80px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 440px;
  left: 820px;
}

p3 {
  font-size: 80px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 420px;
  left: 40px;
}

p4 {
  font-size: 40px;
  transform: rotate(45deg);
  color: #ede893;
  position: absolute;
  top: 160px;
  left: 420px;
}

p5 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 250px;
  left: 600px;
}

p6 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 350px;
  left: 330px;
}

p7 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 504px;
  left: 190px;
}

p8 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 310px;
  left: 868px;
}

p9 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 16px;
  left: 534px;
}

p10 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 80px;
  left: 920px;
}

p11 {
  font-size: 40px;
  transform: rotate(-45deg);
  color: #ede893;
  position: absolute;
  top: 490px;
  left: 640px;
}
