
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
  background-color: black;
}

/* flag canvas */
#canvas {
        width: 1000px;
        height: 600px;
        position: relative;
        background: white;
}

/* shapes */

#rectangle {
    width: 1000px;
    height: 600px;
         background:linear-gradient(31deg, #ff0000 39.67%, #ffffff 39.67%,
           #ffffff 50%, #ff0000 50%,
           #ff0000 100%, #ffffff 100%,
           #ffffff 100%);
         left: 150px;
         top: 10px;
       }
